html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  height: 100%;
  width: 100%;
  position: relative;
}
.background-image {
  height: 100%;
  width: 100%;
  position: relative;
  background: url("../res/snowy_mountains.jpeg") no-repeat center center fixed;
  background-size: 100% 100%;
}
.background-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(3, 29, 77, 0.473);
}
.greeting h1 {
  font-size: 40px;
}
.content {
  position: fixed;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 1fr;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow-y: scroll;
}
.navigation {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  background: rgb(17, 17, 17);
  grid-row: 1;
  align-items: center;
}
.navigation a {
  background: transparent;
  border: transparent;
  border-bottom-color: whitesmoke;
  border-bottom-width: 1px;
  margin: 10px;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
@media only screen and (max-width: 1000px) {
  .content {
    grid-template-columns: 20% 80%;
  }
  .navigation a {
    font-size: large;
  }
}
@media only screen and (max-width: 1400px) {
  .content {
    grid-template-columns: 15% 85%;
  }
}
.nav-active {
  background-color: #f7b42c !important;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%) !important;
}
.bio {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.profile-picture {
  width: 200px;
  height: 200px;
}
.profile-picture img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.summary {
  font-size: 30px;
  color: white;
  color: white;
  max-width: 60%;
  background: linear-gradient(45deg, #195151, #00223E);
  padding-left: 15px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.gallery {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 50vh;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  height: auto;
}
.image-gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: repeat(12, 5vw);
  grid-gap: 15px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  height: auto;
  background: whitesmoke;
  padding: 20px;
}
@media only screen and (max-width: 1000px) {
  .gallery {
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (max-width: 800px) {
  .gallery {
    grid-template-columns: 300px;
  }
}
.gallery-item {
  background-color: #08AEEA;
  background-image: linear-gradient(45deg, rgb(14, 153, 204) 0%, rgb(32, 185, 116) 100%);
  
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 50% 40%;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  justify-items: center;
  border-radius: 10px;
}
.gallery-image {
  grid-row: 2;
  grid-column: 1;
  height: 100%;
  cursor: pointer;
}
.gallery-image img {
  width: auto;
  height: 100%;
}
.gallery-image-standalone {
  width: 100%;
  height: 100%;
}
.gallery-image-standalone img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.gallery-image-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery-image-2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery-image-3 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery-image-4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery-image-5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.gallery-image-6 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 7;
}
.gallery-image-7 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 8;
}
.gallery-image-8 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}
.gallery-image-9 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery-image-10 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}
.gallery-image-11 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 9;
}
.gallery-image-12 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 5;
}
.gallery-image-13 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.gallery-image-14 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 9;
}
.gallery-image-15 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 4;
}
.gallery-image-16 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 8;
  grid-row-end: 9;
}
.gallery-image-17 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: 11;
}
.gallery-image-18 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 7;
}
.gallery-image-19 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 11;
}
.gallery2-image-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery2-image-2 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery2-image-3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery2-image-4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery2-image-5 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 7;
}
.gallery2-image-6 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 5;
}
.gallery2-image-7 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 8;
}
.gallery2-image-8 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.gallery2-image-9 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery-slideshow {
  display: flex;
  grid-row: 2;
  grid-column: 1;
  width: 100%;
}
.gallery-slideshow img {
  width: auto;
  height: 100%;
  display: block;
}
.gallery-slideshow button {
  display: block;
  cursor: pointer;
}
.gallery-title {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}
.gallery-title a {
  text-decoration: none;
  color: white;
}
.gallery-text {
  grid-row: 3;
  grid-column: 1;
  color: white;
  text-align: left;
  width: 100%;
  padding-top: 3px;
  overflow-y: scroll;
}
.gallery-text a {
  color: white;
}